header {
    background-color: var(--bg);
    padding: 10px 20px;
    box-shadow: 0 0px 3px var(--accent-2);
    margin-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.logo img {
    height: 35px;
}

.quiz-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    min-height: 45px;
    min-width: 500px;
    border: var(--border) var(--accent-4);
    border-radius: var(--radius);
    box-shadow: 4px 3px 2px 0px rgba(0, 0, 0, 0.1);
}