* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #fff;
    --bg-2: #fff5f5;

    --accent: #ec0026;
    --accent-2: #ff6b6b;
    --accent-3: #fdc017;
    --accent-4: #f0eae9;

    --text: #313131;
    --text-inverse: #ffe9e9;
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Montserrat", sans-serif;

    --border: 1px solid;
    --radius: 20px;
    --radius-btn: 10px;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-primary);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: var(--font-secondary);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: var(--font-secondary);
    font-size: 18px;
    border: 0;
    background: var(--accent);
    color: var(--text-inverse);
    font-weight: 800;
    border-radius: var(--radius-btn);
    padding: 14px 18px;
    cursor: pointer;
}

button:hover {
    transform: translateY(-1px);
}